:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe, #41d1ff);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
